#err-code{
    font-weight: bolder;
    font-size: 12rem;
    color: rgba(255, 255, 255, 0.25);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.45);
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    font-size: 2rem;
    font-family: Consolas,sans-serif;
    text-shadow: 2px 2px black;
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 768px) {
    #err-code{
        font-size: 5rem;
    }

    .container{
        font-size: 1.5rem;
    }

    .btn{
        font-weight: 1rem;
    }
}