pre code.hljs{
    padding: 0;
    overflow: visible;
    font-size: inherit;
}

pre{
    padding: 0;
    margin: 0;
}

.codeblock-outer-container{
    margin-top: 1em;
}

.codeblock-container{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 1.2rem;
    // margin-top: 1em;
}

.codeblock-header{
    justify-content: end;
}

.copy-btn{
    padding: 0 10px;
    margin: 0.4em 0.4em;
    border-radius: 0;
}
 
.lines-container{
    flex-grow: 1;
    line-height: 1.25;
}

.lines-container > div{
    display: flex;
}
 
.lines-container > div:nth-child(2n), .lines-container > div:nth-child(2n) * {
    background: #e0e0e0;
}
 
.lines-container > div:nth-child(2n+1),.lines-container > div:nth-child(2n+1) * {
    background: #e7e7e7;
}

.line-no{
    width: 30px;
    font-size: 0.9em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: darkslategrey;
}

.line-code{
    margin-left: 0.6em;
    padding-left: 0.6em;
    border-left: 1.5px solid rgba(0, 0, 0, 0.2);
}

pre.inline code{
    display: inline;
    background: transparent;
}

pre.inline{
    display: inline-block;
    background-color: rgba(245, 245, 245, 0.5);
    vertical-align: bottom;
    max-width: 100%;
    overflow-x: auto;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
    color: green
}

.hljs-literal,
.hljs-keyword,
.hljs-name,
.hljs-selector-tag,
.hljs-tag,
.hljs-type {
    color: rgb(18, 38, 221);
}

.hljs-addition,
.hljs-attribute,
.hljs-section,
.hljs-string,
.hljs-template-tag,
.hljs-template-variable
{
    color: #a31515
}

.hljs-deletion,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #2b91af
}

.hljs-doctag {
    color: grey
}

.hljs-attr {
    color: red
}

.hljs-bullet,
.hljs-link,
.hljs-symbol {
    color: #00b0e8
}

.hljs-number{
    color: darkmagenta;
}

.hljs-title,
.hljs-built_in{
    color: #000;
}

@media screen and (min-width: 992px) {
    .codeblock-container{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .codeblock-container{
        font-size: 1rem;
    } 
}