body{
    min-height: 100vh;
    tab-size: 4;
}

#spinner{
    width: 10vmin;
}

#loading-container{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mh-50{
    max-height: 50%;
}

pre code.hljs{
    padding: 0;
    overflow: visible;
}

pre{
    padding: 0;
    margin: 0;
}

.code-line-no{
    position: absolute;
    text-align: center;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;    
}

#problem-outer-container{
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
}

#problem{
    font-size: 1.25em;
}

#lines-container{
    flex-grow: 1;
}

#lines-container > span{
    display: inline-flex;
}

#lines-container *{
    overflow: visible;
}

#lines-container > span:nth-child(2n) {
    background: rgb(221, 221, 221);
}

#lines-container > span:nth-child(2n) *{
background: rgb(221, 221, 221);
}

#lines-container > span:nth-child(2n+1) {
    background: rgb(231, 231, 231);
}

#lines-container > span:nth-child(2n+1) *{
  background: rgb(231, 231, 231);
}

.line-no{
    width: 30px;
    text-align: end;
    font-size: 0.875em;
    font-family: 'Courier New', Courier, monospace;
    color: darkslategrey;
}

.line-code{
    padding-left: 1.25em;
}

pre.inline code{
    display: inline;
    background: transparent;
}

pre.inline{
    display: inline;
    margin: 0 2px;
    background-color: whitesmoke;
}

#solution pre:not(.inline){
    display: flex;
}

#solution pre:not(.inline) > code{
    flex-grow: 1;
}


@media screen and (min-width: 992px) {
    #main-container{
        height: calc(100vh - 56px);
    }
    #main-right-col{
        overflow: visible;
        /* height: auto !important; */
        max-height: 100% !important;
    }
    #main-left-col{
        height: auto !important;
    }
}

@media screen and (max-width: 1200px) {
    #main-left-col{
        height: 100%;
    }

    #problem{
        font-size: 1rem;
    }
}
 

@media screen and (max-width: 991px) {
    body{
        display: flex;
        flex-direction: column;
    }

    #main-container{
        flex-direction: column;
        flex-grow: 1;
    }

    #main-left-col{
        flex-grow: 0;
        height: initial !important;
        overflow: initial !important;
    }

    #main-right-col{
        flex-grow: 1;
        height: initial !important;
        overflow: initial !important;
    }

    #problem{
        font-size: 1rem;
    }
    
    #question, #correct-btn, #incorrect-btn{
        font-size: calc(1rem + 2.1vw);
    }

    #correct-btn, #incorrect-btn{
        font-weight: lighter;
        color: white;
    }

    #problem-outer-container{
        height: auto;
        max-height: initial;
    }
}

@media screen and (max-width: 768px) {
    #problem{
        font-size: 1rem;
    }

    
}
