body{
    height: 100vh;
}

@media screen and (min-width: 992px) {
    #main-container{
        height: calc(100% - 56px);
    }
    #main-right-col{
        overflow: visible;
    }
}
 

@media screen and (max-width: 991px) {
    #main-left-col{
        height: calc(100vh - 56px);
    }
}