body{
    min-height: 100vh;
    tab-size: 4;
}

a{
    color: blue;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;    
}

#spinner{
    width: 16%;
}

#loading-container,
#no-problems{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.mh-50{
    max-height: 50%;
}


#solution samp.error{
    display: inline-block;
    background-color: rgba(233, 233, 233, 0.856);
    color: #dd0000;
    padding: 0.2em 10px;
}
 
#solution samp.output{
    display: inline-block;
    white-space: pre;
    background-color: black;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.25em 10px;
}

#solution .codeblock-container{
    margin: 1em 0;
}

#solution > div > *{
    margin-bottom: 1em;
}

@media screen and (min-width: 992px) {
    #main-container{
        height: calc(100vh - 56px);
    }
    #main-right-col{
        overflow: visible;
        /* height: auto !important; */
        max-height: 100% !important;
    }
    #main-left-col{
        /* height: auto !important; */
        max-height: 100%;
    }
}

@media screen and (max-width: 1200px) {
    #main-left-col{
        height: 100%;
    }
}
 

@media screen and (max-width: 991px) {
    body{
        display: flex;
        flex-direction: column;
    }

    #main-container{
        flex-direction: column;
        flex-grow: 1;
    }

    #main-left-col{
        flex-grow: 1;
        height: initial !important;
        overflow: initial !important;
    }

    #main-right-col{
        flex-grow: 1;
        height: initial !important;
        overflow: initial !important;
    }
 
    #question, #correct-btn, #incorrect-btn{
        font-size: calc(1rem + 2.1vw);
    }

    #correct-btn, #incorrect-btn{
        font-weight: lighter;
        color: white;
    }

    #problem-outer-container{
        height: auto;
        max-height: none;
    }

    #problem{
        height: auto;
        max-height: none;
        overflow-y: hidden;
    }
}