body{
    min-height: 100vh;
    tab-size: 1;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;    
}

#spinner{
    width: 16%;
}

#loading-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mh-50{
    max-height: 50%;
}

pre code.hljs{
    padding: 0;
    overflow: visible;
    font-size: inherit;
}

pre{
    padding: 0;
    margin: 0;
}

.codeblock-container{
    display: flex;
    overflow: auto;
    font-size: 1.1rem;
}
 
.lines-container{
    flex-grow: 1;
    line-height: 1.25;
}

.lines-container > div{
    display: flex;
}
 
.lines-container > div:nth-child(2n), .lines-container > div:nth-child(2n) * {
    background: #e0e0e0;
}
 
.lines-container > div:nth-child(2n+1),.lines-container > div:nth-child(2n+1) * {
    background: #e7e7e7;
}

.line-no{
    width: 30px;
    font-size: 0.9em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: darkslategrey;
}

.line-code{
    margin-left: 0.6em;
    padding-left: 0.6em;
    border-left: 1.5px solid rgba(0, 0, 0, 0.2);
}

pre.inline code{
    display: inline;
    background: transparent;
}

pre.inline{
    display: inline-block;
    background-color: whitesmoke;
    vertical-align: bottom;
    max-width: 100%;
    overflow-x: auto;
}

#solution samp.error{
    display: inline-block;
    background-color: rgba(233, 233, 233, 0.856);
    color: #dd0000;
    padding: 0.2em 10px;
    margin: 10px 0;
}
 
#solution samp.output{
    display: inline-block;
    white-space: pre;
    background-color: black;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.25em 10px;
}

#solution .codeblock-container{
    margin: 1em 0;
}

@media screen and (min-width: 992px) {
    #main-container{
        height: calc(100vh - 56px);
    }
    #main-right-col{
        overflow: visible;
        /* height: auto !important; */
        max-height: 100% !important;
    }
    #main-left-col{
        /* height: auto !important; */
        max-height: 100%;
    }

        
    .codeblock-container{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1200px) {
    #main-left-col{
        height: 100%;
    }

}
 

@media screen and (max-width: 991px) {
    body{
        display: flex;
        flex-direction: column;
    }

    #main-container{
        flex-direction: column;
        flex-grow: 1;
    }

    #main-left-col{
        flex-grow: 1;
        height: initial !important;
        overflow: initial !important;
    }

    #main-right-col{
        flex-grow: 1;
        height: initial !important;
        overflow: initial !important;
    }
 
    #question, #correct-btn, #incorrect-btn{
        font-size: calc(1rem + 2.1vw);
    }

    #correct-btn, #incorrect-btn{
        font-weight: lighter;
        color: white;
    }

    #problem-outer-container{
        height: auto;
        max-height: none;
        overflow-y: hidden !important;
    }

    #problem{
        height: auto;
        max-height: none;
        
    }
}

@media screen and (max-width: 768px) {
    .codeblock-container{
        font-size: 1rem;
    }

     
}
