$altlight : #FDF0D5;
$altdark : #383D3B;
$dark : #292b2c;

body{
    min-height: 100vh;
    tab-size: 4;
}

a{
    color: blue;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;    
}

#spinner{
    width: 16%;
}

#loading-container,
#no-problems{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.mh-50{
    max-height: 50%;
}

#main-left-col,
#main-right-col{
    scrollbar-width: thin;
}

#main-left-col,
#main-right-col{
    &::-webkit-scrollbar{
        width: 16px;
        height: 5px;
        padding: 0 2px;
    }

    &::-webkit-scrollbar-track-piece{
        width: 12px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: rgba(255, 255, 255, 0.342);
        border-radius: 20px;
        border: 5px solid transparent;
        background-clip: padding-box;
    }

    scrollbar-color: #808080 $dark;
}

#main-right-col{
    &::-webkit-scrollbar-thumb{
        background-color: rgba(0, 0, 0, 0.342);
    }
    scrollbar-color: rgba(100, 100, 100, 0.699) transparent;
}


#solution samp.error{
    display: inline-block;
    background-color: rgba(233, 233, 233, 0.856);
    color: #dd0000;
    padding: 0.2em 10px;
}
 
#solution samp.output{
    display: inline-block;
    white-space: pre;
    background-color: black;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.25em 10px;
}

#solution > div > *{
    margin-bottom: 0.5em;
}

table{
    font-size: 1rem;
    font-weight: normal;
}

.normal-font-weight{
    font-weight: 400 !important;
}

@media screen and (min-width: 992px) {
    #main-container{
        height: calc(100vh - 56px);
    }
    #main-right-col{
        overflow: visible;
        /* height: auto !important; */
        max-height: 100% !important;
    }
    #main-left-col{
        /* height: auto !important; */
        max-height: 100%;
    }
}

@media screen and (max-width: 1200px) {
    #main-left-col{
        height: 100%;
    }
}
 

@media screen and (max-width: 991px) {
    body{
        display: flex;
        flex-direction: column;
    }

    #main-container{
        flex-direction: column;
        flex-grow: 1;
    }

    #main-left-col{
        flex-grow: 1;
        height: initial !important;
        overflow: initial !important;
    }

    #main-right-col{
        flex-grow: 1;
        height: initial !important;
        overflow: initial !important;
    }
 
    #question, #correct-btn, #incorrect-btn{
        font-size: calc(1rem + 2.1vw);
    }

    #correct-btn, #incorrect-btn{
        font-weight: lighter;
        color: white;
    }

    #problem-outer-container{
        height: auto;
        max-height: none;
    }

    #problem{
        height: auto;
        max-height: none;
        overflow-y: hidden;
    }
}