 
.bg-card-easy{
    background-color: #346620;
}

.bg-card-medium{
    background-color: #305BAB;
}

.bg-card-hard{
    background-color: #8B2B63;
}

.bg-card-random{
    background-color: #061637;
}