#navbar-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}
 
body{
    min-height: 100vh;
    position: relative;
}
 

#offcanvas{
    z-index: 9999;
}

#offcanvas-btn{
    
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 1;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-weight: lighter;
    line-height: 1.4;
    letter-spacing: -1px;
}

#offcanvas-btn:focus{
    box-shadow: none;
}

article > h3{
    border-left: 5px solid var(--bs-success);
}

@media screen and (min-width: 300px) {
    .offcanvas-start{
        width: 75%;
        max-width: 400px;
    }
}

@media screen and (max-width: 299px) {
    .offcanvas-start{
        width: 100%;
    }
}

